@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --wndb--text-giga: 4rem;
  --wndb--text-scale-factor: 1;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-montserrat);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-montserrat), system-ui, sans-serif;
}

/* Giga Font Size Utility */
.text-giga {
  font-size: calc(var(--wndb--text-giga) * var(--wndb--text-scale-factor)) !important;
}
